.modal {
  .modal-dialog {
    max-width: 800px;
  }

  &.show .modal-dialog {
    transition: 0.25s all;
    opacity: 0;
    transform: translate(0, 5vh);
  }

  &.custom-show .modal-dialog {
    opacity: 1;
    transform: translate(0, 0);
  }
}
