<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" placeholder="name@example.com"
          id="email" name="email"
          [(ngModel)]="type.email" #email="ngModel"
        >
      </div>
      <div class="form-group">
        <label for="select">Select</label>
        <select class="form-control"
          id="select" name="select"
          [(ngModel)]="type.select" #select="ngModel">
          <option [ngValue]="null" disabled>Choose your select</option>
          <option *ngFor="let option of arrayNumber" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="multiselect">Multiple select</label>
        <select multiple class="form-control"
          id="multiselect" name="multiselect"
          [(ngModel)]="type.multiSelect" #multiSelect="ngModel">
            <option *ngFor="let option of arrayNumber" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="textarea">Textarea</label>
        <textarea class="form-control" rows="3"
          id="textarea" name="textarea"
          [(ngModel)]="type.textArea" #textArea="ngModel"></textarea>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-secondary mr-1">Cancel</button>
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</div>

<pre>{{type | json }}</pre>
