<!--begin::Form-->
  <form class="kt-form kt-form--group-seperator-dashed" [formGroup]="form" [class.actionloading]="loading$ | async"
    [mustMatch]="['newPassword', 'confirmPassword']"
    (ngSubmit)="passwordForm.form.valid && onSubmit()" #passwordForm="ngForm">

		<div class="text-right">
			<button type="button" mat-raised-button color="warn" (click)="onReset()">
				<i class="la la-refresh"></i>
				Reset password
			</button>&nbsp;
		</div>

		<h6 class="kt-section__heading">
			Set Password
		</h6>
    <div class="kt-separator kt-separator--dashed"></div>
		<div class="kt-form__section kt-form__section--first">

			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <mat-label>New password</mat-label>
            <input
              matInput
              [type]="hideNewPassword ? 'password' : 'text'"
              placeholder="New Password"
              autocomplete="new-password"
              name="newPassword"
              formControlName="NewPassword"
            />
            <div mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" tabindex="-1"
              [attr.aria-label]="'Hide new password'" class="cursor-pointer">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <mat-error *ngIf="form.controls.NewPassword.invalid && (form.controls.NewPassword.dirty || form.controls.NewPassword.touched)">
              <div *ngIf="form.controls.NewPassword.errors?.required">New Password is <strong>required</strong></div>
              <div *ngIf="form.controls.NewPassword.errors?.pattern">Password must be 6-12 characters long and include at least one letter and one number.</div>
            </mat-error>
          </mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              [type]="hideConfirmNewPassword ? 'password' : 'text'"
              placeholder="New Password confirm"
              autocomplete="confirm-password"
              name="confirmPassword"
              formControlName="ConfirmPassword"
            />
            <div mat-icon-button matSuffix (click)="hideConfirmNewPassword = !hideConfirmNewPassword" tabindex="-1"
              [attr.aria-label]="'Hide password'" class="cursor-pointer">
              <mat-icon>{{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <mat-error *ngIf="form.controls.ConfirmPassword.invalid && (form.controls.ConfirmPassword.dirty || form.controls.ConfirmPassword.touched)">
              <div *ngIf="form.controls.ConfirmPassword.errors?.required">Confirm password is <strong>required</strong></div>
              <div *ngIf="form.controls.ConfirmPassword.errors?.pattern">Password must be 6-12 characters long and include at least one letter and one number.</div>
              <div *ngIf="form.controls.ConfirmPassword.errors?.mismatchedPassword">The Confirmation Password does not match.</div>
            </mat-error>
          </mat-form-field>
				</div>
			</div>
		</div>
		<div class="kt-separator kt-separator--dashed"></div>
		<div class="kt-form__actions kt-form__actions--solid text-center">
      <button type="button" mat-raised-button color="primary" matTooltip="Save changes"
      (click)="passwordForm.ngSubmit.emit()"
      [disabled]="!passwordForm.form.valid">
				Set
			</button>&nbsp;
			<button type="button" mat-raised-button color="default" matTooltip="Clear" (click)="onClear()">
				Clear
			</button>
		</div>
	</form>
<!--end::Form-->
