<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__wrapper">
			<div class="m-auto">
        {{today | date:'yyyy'}} © Powered by <a href="https://www.relationshop.com/">Relationshop, Inc</a>.
        ALL Rights Reserved. Environment {{ environment }} Version {{ version }} Build version {{ buildVersion }}. Installed on {{ buildDate }}
      </div>
		</div>
	</div>
</div>
<!-- end:: Footer -->
