<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
	<!--begin: User bar -->
	<kt-user-profile2 [badge]="true"></kt-user-profile2>
	<!--end: User bar -->
	<!--begin: Logout -->
	<div class="kt-header__topbar-item" data-placement="bottom" ngbTooltip="Logout">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon" (click)="logout()"><i class="flaticon-logout"></i></span>
		</div>
	</div>
	<!--end: Logout -->
	<!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
