<div class="img-container" [ngStyle]="{ 'min-width.px': maxWidth, 'max-height.px': maxHeight }"  >
  <img
    *ngIf="!error"
    [hidden]="!loaded"
    [src]="src"
    [ngStyle]="{'max-height.px': maxHeight}"
    [alt]="alt"
    loading="lazy"
    (load)="onLoad()"
    (error)="onError()"
  />
  <img
    *ngIf="default && (error || !loaded) && !(loading | async)"
    [src]="default"
    [ngStyle]="{'max-height.px': maxHeight}"
    [alt]="alt"
    loading="lazy"
  />

  <div class="loading" *ngIf="(loading | async)">
    <mat-spinner color="primary" diameter="20"></mat-spinner>
  </div>
</div>
