<div placement="bottom-right" *ngIf="user$ | async as _user"
  class="kt-header__topbar-item kt-header__topbar-item--user">
  <div class="kt-header__topbar-wrapper" style="cursor: context-menu;">
    <span *ngIf="badge" class="kt-header__topbar-icon" style="cursor: context-menu;"
      [ngStyle]="{background: badgeBg, color: '#fff'}">
      <strong>{{((_user.FirstName || 'Un') + ' ' + (_user.LastName || 'know'))|firstLetter}}</strong>
    </span>
    <span class="kt-header__topbar-username" *ngIf="greeting">{{_user.FirstName}} {{_user.LastName}}</span>
  </div>
</div>
